body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(43, 144, 191, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.title {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
  flex-direction: column;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  flex: 1;
}
.form-group input[type="text"], .form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
}
.submit button {
  padding: 10px 20px;
  background-color: #29c820;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  justify-content: right;
  margin: auto;
  display: block;
}
.submit button:hover {
  background-color: #2cdb1d;
}

img {
  max-width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 0; 
}
/* CSS cho bảng câu hỏi */
.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

.question label {
    display: block;
    margin-bottom: 10px;
}

.question input[type="radio"],
.question input[type="checkbox"] {
    margin-right: 5px;
}

/* CSS cho nút Nộp bài */
#submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#submitBtn:hover {
    background-color: #45a049;
}

/* CSS cho kết quả */
#resultContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
